@import url(sanitize.css);
body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header {
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
table {
        table-layout: fixed;
        width: 600px;
        height: 50px;
    }
table, td, th{
    border: 1px solid black;
    }
@media only screen and (max-width:600px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 12px;
    }
    .test {
        font-size:14px;
    }
    table {
        table-layout: fixed;
        width:600px;
        height: 50px;
    }
    table, td, th{
        border: 1px solid black;
    }
@media only screen and (max-width:480px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 12px;
    }
    .test {
        font-size:12px;
    }
    table {
        table-layout: fixed;
        width:480px;
        height: 50px;
    table, td, th{
        border: 1px solid black;
    }
@media only screen and (max-width:320px){
    header {
        padding :5px;
    }
    header h1 {
        font-size: 12px;
    }
    .test {
        font-size:12px;
    }
    table {
        table-layout: fixed;
        width:320px;
        height: 50px;
    }
    table, td, th{
        border: 1px solid black;
    }
}
